@using Microsoft.AspNetCore.Identity
@inject SignInManager<Tarea3.Models.Persona> SignInManager
@inject UserManager<Tarea3.Models.Persona> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <span class="nav-link text-dark">Hola, @UserManager.GetUserName(User)</span>
    </li>
    <li class="nav-item">
        <button id="logoutBtn" class="nav-link btn btn-link text-dark">Cerrar Sesión</button>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" href="/auth-frontend/login">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/auth-frontend/register">Registro</a>
    </li>
}
